node-red code.txt
[{"id":"71566333.c0bc1c","type":"tab","label":"KNX koppeling","disabled":false,"info":""},{"id":"4d83cad0.2aa894","type":"tab","label":"webserver","disabled":false,"info":""},{"id":"1c77cedf.fa9ea1","type":"tab","label":"vermogen metingen","disabled":false,"info":""},{"id":"21335aaa.0329c6","type":"tab","label":"opstelling afhalen","disabled":false,"info":""},{"id":"7abaa287.8da83c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"vermogen","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"2f3b3635.5337da","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"5b35097b.c00de8","type":"mqtt-broker","name":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"182308db.4816d7","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6288e209.e6355c","type":"influxdb","z":"71566333.c0bc1c","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"weather","name":"Weather","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"b12caf97.5dc36","type":"influxdb","z":"71566333.c0bc1c","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"Test","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"8ff70eb9.165ea","type":"influxdb","z":"71566333.c0bc1c","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"YOUTUBE","name":"YouTube","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"bc355506.21a168","type":"influxdb","z":"71566333.c0bc1c","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BEER","name":"Beer","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"8d68a4bd.518028","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bafe030b.7cba2","type":"ui_tab","name":"LAB","icon":"dashboard","order":1},{"id":"513b631e.1c8e1c","type":"ui_tab","name":"LAB","icon":"dashboard","order":1},{"id":"b08efecc.36742","type":"ui_tab","name":"Home","icon":"home","order":"1"},{"id":"d443be39.f5674","type":"ui_tab","name":"Reports","icon":"dashboard","order":9},{"id":"a76e690.b1fa498","type":"ui_tab","name":"Home","icon":"home","order":"1"},{"id":"6cc7918e.67df1","type":"ui_tab","name":"Reports","icon":"dashboard","order":9},{"id":"e0d73eef.8f5b8","type":"ui_tab","name":"RFLink","icon":"settings_remote","order":19},{"id":"9c2f07ec.58fd58","type":"ui_tab","name":"RFLink","icon":"settings_remote","order":19},{"id":"93f9c7e9.15cd98","type":"ui_tab","name":"LAB","icon":"dashboard","order":1},{"id":"eb8e8.76e677188","type":"ui_tab","name":"LAB","icon":"dashboard","order":1},{"id":"4e745c5d.371c24","type":"ui_tab","name":"Home","icon":"home","order":"1"},{"id":"808d7f9a.b4dd1","type":"ui_tab","name":"Reports","icon":"dashboard","order":9},{"id":"17a95eb0.1645f1","type":"ui_tab","name":"Home","icon":"home","order":"1"},{"id":"bdefc26.99f4f4","type":"ui_tab","name":"Reports","icon":"dashboard","order":9},{"id":"f4c78e79.665be","type":"ui_tab","name":"RFLink","icon":"settings_remote","order":19},{"id":"6d1ea61c.7e9a28","type":"ui_tab","name":"RFLink","icon":"settings_remote","order":19},{"id":"7e0f86e8.1ec3b8","type":"ui_tab","name":"Dimplex","icon":"dashboard","order":3},{"id":"ff438b94.3d81c8","type":"ui_group","name":"Main Lamp","tab":"bafe030b.7cba2","order":1,"disp":true,"width":"6"},{"id":"fe247118.20a9c","type":"ui_group","name":"Bench Light","tab":"bafe030b.7cba2","order":2,"disp":true,"width":"6"},{"id":"9270aded.eb84a","type":"ui_group","name":"Main Lamp","tab":"513b631e.1c8e1c","order":1,"disp":true,"width":"6"},{"id":"4dfd45e2.1f042c","type":"ui_group","name":"Bench Light","tab":"513b631e.1c8e1c","order":2,"disp":true,"width":"6"},{"id":"3d618244.11f40e","type":"ui_group","name":"MiFlora","tab":"b08efecc.36742","order":2,"disp":true,"width":"6"},{"id":"ad54e4f3.cac638","type":"ui_group","name":"Report","tab":"d443be39.f5674","order":2,"disp":true,"width":"18"},{"id":"7829f109.ba9f4","type":"ui_group","name":"Selection","tab":"d443be39.f5674","order":1,"disp":true,"width":"5"},{"id":"edb9b912.fbdda8","type":"ui_group","name":"MiFlora","tab":"a76e690.b1fa498","order":2,"disp":true,"width":"6"},{"id":"edf389a8.2530f8","type":"ui_group","name":"Report","tab":"6cc7918e.67df1","order":2,"disp":true,"width":"18"},{"id":"a05b7140.82285","type":"ui_group","name":"Selection","tab":"6cc7918e.67df1","order":1,"disp":true,"width":"5"},{"id":"233f0392.b1951c","type":"ui_group","name":"Mailbox","tab":"a76e690.b1fa498","order":2,"disp":true,"width":"6"},{"id":"e6784c84.c4a94","type":"ui_group","name":"Weather Station","tab":"e0d73eef.8f5b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4a453d1e.b9dbe4","type":"ui_group","name":"Sensor 1","tab":"e0d73eef.8f5b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f8e65c8.16f63c","type":"ui_group","name":"Sensor 2","tab":"e0d73eef.8f5b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cbf24f9c.a6391","type":"ui_group","name":"New Devices","tab":"e0d73eef.8f5b8","order":5,"disp":true,"width":"18"},{"id":"5c9d23b2.65fa9c","type":"ui_group","name":"Magnet","tab":"e0d73eef.8f5b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c58226f3.cb4938","type":"ui_group","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"8069d34a.f949c","type":"ui_group","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"7af20a7e.b8c814","type":"ui_group","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"e5d6383e.b56278","type":"ui_group","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"30894160.29f01e","type":"ui_group","name":"Maplin Weather Station","tab":"","order":1,"disp":true,"width":"6"},{"id":"f67152e3.399cd","type":"ui_group","name":"Main Lamp","tab":"93f9c7e9.15cd98","order":1,"disp":true,"width":"6"},{"id":"a05c0c9c.3616d","type":"ui_group","name":"Bench Light","tab":"93f9c7e9.15cd98","order":2,"disp":true,"width":"6"},{"id":"119169eb.b222b6","type":"ui_group","name":"Main Lamp","tab":"eb8e8.76e677188","order":1,"disp":true,"width":"6"},{"id":"62249257.b9b5bc","type":"ui_group","name":"Bench Light","tab":"eb8e8.76e677188","order":2,"disp":true,"width":"6"},{"id":"48727255.68616c","type":"ui_group","name":"MiFlora","tab":"4e745c5d.371c24","order":2,"disp":true,"width":"6"},{"id":"63d51457.f0207c","type":"ui_group","name":"Report","tab":"808d7f9a.b4dd1","order":2,"disp":true,"width":"18"},{"id":"3e3b051.85a37fa","type":"ui_group","name":"Selection","tab":"808d7f9a.b4dd1","order":1,"disp":true,"width":"5"},{"id":"bb29f0eb.e63ef","type":"ui_group","name":"MiFlora","tab":"17a95eb0.1645f1","order":2,"disp":true,"width":"6"},{"id":"4e9aceeb.2e1df","type":"ui_group","name":"Report","tab":"bdefc26.99f4f4","order":2,"disp":true,"width":"18"},{"id":"ea547f7.1d6128","type":"ui_group","name":"Selection","tab":"bdefc26.99f4f4","order":1,"disp":true,"width":"5"},{"id":"2b219a8.16e7266","type":"ui_group","name":"Mailbox","tab":"17a95eb0.1645f1","order":2,"disp":true,"width":"6"},{"id":"ff98d64f.962bb8","type":"ui_group","name":"Weather Station","tab":"f4c78e79.665be","order":1,"disp":true,"width":"6","collapse":false},{"id":"bb995ee.1a8fba","type":"ui_group","name":"Sensor 1","tab":"f4c78e79.665be","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b3521df.0cfbae","type":"ui_group","name":"Sensor 2","tab":"f4c78e79.665be","order":3,"disp":true,"width":"6","collapse":false},{"id":"27ff786f.bf88b8","type":"ui_group","name":"New Devices","tab":"f4c78e79.665be","order":5,"disp":true,"width":"18"},{"id":"ef9503a6.cef3f","type":"ui_group","name":"Magnet","tab":"f4c78e79.665be","order":4,"disp":true,"width":"6","collapse":false},{"id":"492276a5.98cb58","type":"ui_group","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"c55c00f1.adf19","type":"ui_group","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"c4a5b691.f267d8","type":"ui_group","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"9baacb35.0b5068","type":"ui_group","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"cdd9f125.df6c5","type":"ui_group","name":"Maplin Weather Station","tab":"","order":1,"disp":true,"width":"6"},{"id":"6408f0a4.e2809","type":"ui_group","name":"Zähler","tab":"7e0f86e8.1ec3b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"7e8f460a.e30398","type":"twitter-credentials","screen_name":"@spiessa"},{"id":"4bf5531f.bcf31c","type":"twitter-credentials","screen_name":"@SensorsIOT"},{"id":"c4e6b922.17b8d8","type":"twitter-credentials","screen_name":"@spiessa"},{"id":"bcc8f3d7.f2845","type":"twitter-credentials","screen_name":"@SensorsIOT"},{"id":"629fd400.5b3ddc","type":"serial-port","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f16e3572.b882f8","type":"knxEasy-config","host":"localhost","port":"3671"},{"id":"da27ae06.874a9","type":"knxEasy-config","host":"192.168.1.202","port":"3671"},{"id":"2d3f422.0c198be","type":"knxEasy-config","host":"224.0.23.12","port":"3671"},{"id":"c30c717f.a9f8e","type":"knxEasy-config","host":"192.168.0.202","port":"3671"},{"id":"d5a36785.8a6088","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"opstelling","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"300b440b.96291c","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/1","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/1 Binnen0","x":120,"y":60,"wires":[["993e735b.5fea8"]]},{"id":"5ce9d1f.552913","type":"influxdb out","z":"71566333.c0bc1c","influxdb":"7abaa287.8da83c","name":"sensoren binnen en buiten","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":680,"y":60,"wires":[]},{"id":"af22d822.663778","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/2","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/2 Binnen1","x":120,"y":120,"wires":[["845759da.fe1978"]]},{"id":"9fd4a49c.ff5de8","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/3","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/3 Binnen2","x":120,"y":180,"wires":[["8e97ad3.ceac65"]]},{"id":"70a73c81.320984","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/4","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/4 Buiten","x":110,"y":240,"wires":[["fe3428df.c89f48"]]},{"id":"845759da.fe1978","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"Binnen1 = (msg.payload/65535)*50\nglobal.set(\"Binnen1\",Binnen1)\nmsg.payload = {\n    Binnen1: parseFloat(Binnen1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":120,"wires":[["5ce9d1f.552913"]]},{"id":"e753ee3a.aa8d6","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/5","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/5 LuchtUitgaandBinnen","x":160,"y":320,"wires":[["9a79d51d.d3b3b8"]]},{"id":"a8600cbc.98ce1","type":"influxdb out","z":"71566333.c0bc1c","influxdb":"7abaa287.8da83c","name":"lucht sensoren","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":640,"y":320,"wires":[]},{"id":"f01dabec.97af48","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/6","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/6 LuchtUitgaandBuiten","x":160,"y":380,"wires":[["42746be5.c491b4"]]},{"id":"ef272a2.94761d8","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/7","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/7 LuchtBinnengaandBinnen","x":170,"y":440,"wires":[["87f4c48d.2a02b8"]]},{"id":"fb63340b.1dc128","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/8","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/8 LuchtBinnengaandBuiten","x":170,"y":500,"wires":[["90e0ba2.fea4e48"]]},{"id":"87f4c48d.2a02b8","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"LuchtBiBi = (msg.payload/1310.7)\nglobal.set(\"LuchtBiBi\",LuchtBiBi)\nmsg.payload = {\n    LuchtBiBi: parseFloat(LuchtBiBi)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":440,"wires":[["a8600cbc.98ce1"]]},{"id":"3618e852.899d88","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/9","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/9 WaterUitgaandBinnen","x":160,"y":580,"wires":[["c0b532e1.b0feb"]]},{"id":"f75edd0c.3368b","type":"influxdb out","z":"71566333.c0bc1c","influxdb":"7abaa287.8da83c","name":"warmtepomp sensoren","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":660,"y":580,"wires":[]},{"id":"c0b532e1.b0feb","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"WaterUiBi = ((msg.payload/1092.25)-20)/0.385055\nglobal.set(\"WaterUiBi\",WaterUiBi)\nmsg.payload = {\n    WaterUiBi: parseFloat(WaterUiBi)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":580,"wires":[["f75edd0c.3368b"]]},{"id":"757acaeb.42b8d4","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/10","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/10 WaterUitgaandBuiten","x":160,"y":640,"wires":[["b09f4f7d.a49c3"]]},{"id":"4bc97348.48cd9c","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/11","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/11 WaterBinnengaandBinnen","x":180,"y":700,"wires":[["b56f52c7.4fa86"]]},{"id":"97d2e353.2ab88","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/12","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/12 WaterBinnengaandBuiten","x":170,"y":760,"wires":[["718938e9.80c5c8"]]},{"id":"f07cb9b8.789fa8","type":"knxEasy-in","z":"71566333.c0bc1c","server":"c30c717f.a9f8e","topic":"0/0/13","dpt":"7.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"name":"0/0/13 Boiler","x":110,"y":840,"wires":[["237586fa.012cea"]]},{"id":"f4827f36.eacef","type":"influxdb out","z":"71566333.c0bc1c","influxdb":"7abaa287.8da83c","name":"boiler","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":610,"y":840,"wires":[]},{"id":"993e735b.5fea8","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"Binnen0 = (msg.payload/65535)*50\nglobal.set(\"Binnen0\",Binnen0)\nmsg.payload = {\n    Binnen0: parseFloat(Binnen0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":60,"wires":[["5ce9d1f.552913"]]},{"id":"8e97ad3.ceac65","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"Binnen2 = (msg.payload/65535)*50\nglobal.set(\"Binnen2\",Binnen2)\nmsg.payload = {\n    Binnen2: parseFloat(Binnen2)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["5ce9d1f.552913"]]},{"id":"fe3428df.c89f48","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"Buiten = (msg.payload/65535)*50\nglobal.set(\"Buiten\",Buiten)\nmsg.payload = {\n    Buiten: parseFloat(Buiten)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["5ce9d1f.552913"]]},{"id":"42746be5.c491b4","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"LuchtUiBu = (msg.payload/1310.7)\nglobal.set(\"LuchtUiBu\",LuchtUiBu)\nmsg.payload = {\n    LuchtUiBui: parseFloat(LuchtUiBu)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[["a8600cbc.98ce1"]]},{"id":"9a79d51d.d3b3b8","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"LuchtUiBi = (msg.payload/1310.7)\nglobal.set(\"LuchtUiBi\",LuchtUiBi)\nmsg.payload = {\n    LuchtUiBi: parseFloat(LuchtUiBi)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["a8600cbc.98ce1"]]},{"id":"90e0ba2.fea4e48","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"LuchtBiBu = (msg.payload/1310.7)\nglobal.set(\"LuchtBiBu\",LuchtBiBu)\nmsg.payload = {\n    LuchtBiBu: parseFloat(LuchtBiBu)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":500,"wires":[["a8600cbc.98ce1"]]},{"id":"b09f4f7d.a49c3","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"WaterUiBu = ((msg.payload/1092.25)-20)/0.385055\nglobal.set(\"WaterUiBu\",WaterUiBu)\nmsg.payload = {\n    WaterUiBu: parseFloat(WaterUiBu)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":640,"wires":[["f75edd0c.3368b"]]},{"id":"b56f52c7.4fa86","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"WaterBiBi = ((msg.payload/1092.25)-20)/0.385055\nglobal.set(\"WaterBiBi\",WaterBiBi)\nmsg.payload = {\n    WaterBiBi: parseFloat(WaterBiBi)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":700,"wires":[["f75edd0c.3368b"]]},{"id":"718938e9.80c5c8","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"WaterBiBu = ((msg.payload/1092.25)-20)/0.385055\nglobal.set(\"WaterBiBu\",WaterBiBu)\nmsg.payload = {\n    WaterBiBu: parseFloat(WaterBiBu)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":760,"wires":[["f75edd0c.3368b"]]},{"id":"237586fa.012cea","type":"function","z":"71566333.c0bc1c","name":"Preparation","func":"Boiler = ((msg.payload/1092.25)-20)/0.385055\nglobal.set(\"Boiler\",Boiler)\nmsg.payload = {\n    Boiler: parseFloat(Boiler)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":840,"wires":[["f4827f36.eacef"]]},{"id":"967ae5f7.427818","type":"http response","z":"4d83cad0.2aa894","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"394a4a3c.8eea36","type":"template","z":"4d83cad0.2aa894","name":"homepage HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\na:link, a:visited {\n  color: green;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:blue;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\n</style>\n  <head>\n    <title>homepage</title>\n  </head>\n  <body>\n      <img src=\"3Dgebouw.jpg\" alt=\"3D render van het gebouw\">\n      <a href=\"http://192.168.0.201:1880/opstelling/\" style = \"position:absolute; left:500px; top:300px\">\n         {{BinnenT}}\n      </a>\n      <a href=\"http://192.168.0.201:1880/binnen/\" style = \"position:absolute; left:1000px; top:300px\">\n         {{BinnenT}}\n      </a>\n      <a href=\"http://192.168.0.201:1880/buiten/\" style = \"position:absolute; left:500px; top:600px\">\n         {{BuitenT}}\n      </a>\n      <a href=\"http://192.168.0.201:1880/warmtepomp/\" style = \"position:absolute; left:1000px; top:600px\">\n         {{WarmtepompT}}\n      </a>\n  </body>\n</html>","x":730,"y":140,"wires":[["967ae5f7.427818"]]},{"id":"d3a159a7.718f28","type":"function","z":"4d83cad0.2aa894","name":"homepage meetwaarden","func":"msg.BinnenT = (global.get(\"Binnen0\") + global.get(\"Binnen1\") + global.get(\"Binnen2\"))/3;\nmsg.BuitenT = global.get(\"Buiten\");\nmsg.WarmtepompT = global.get(\"WaterBiBi\");///water die de vloerverwarming binnenkomt\nmsg.Zonnepanelen = global.get(\"PZonnepanelen\");\nmsg.Laad1 = global.get(\"PLaadpaal1\");\nmsg.Laad1 = global.get(\"PLaadpaal2\");\nmsg.Vermogentotaal = global.get(\"PTotaal\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["394a4a3c.8eea36"]]},{"id":"4e6d0011.273f3","type":"http in","z":"4d83cad0.2aa894","name":"","url":"/homepage","method":"get","upload":false,"swaggerDoc":"","x":220,"y":140,"wires":[["d3a159a7.718f28"]]},{"id":"7137b318.a0663c","type":"function","z":"4d83cad0.2aa894","name":"waarde simuleren zonder KNX","func":"variabele = global.get(\"variabele\") + 1;\nglobal.set(\"variabele\", variabele);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"variabele\",1);","finalize":"","libs":[],"x":490,"y":80,"wires":[["99151374.1cad4"]]},{"id":"51f85136.6b6ca","type":"inject","z":"4d83cad0.2aa894","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":80,"wires":[["7137b318.a0663c"]]},{"id":"99151374.1cad4","type":"debug","z":"4d83cad0.2aa894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"428acfa9.b197e","type":"http response","z":"4d83cad0.2aa894","name":"","statusCode":"","headers":{},"x":930,"y":220,"wires":[]},{"id":"11eed905.facd47","type":"template","z":"4d83cad0.2aa894","name":"binnen HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\na:link, a:visited {\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\np{\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\n</style>\n  <head>\n    <title>sensoren binnen</title>\n  </head>\n  <body>\n      <a href=\"http://192.168.0.201:1880/homepage\" style = \"position:absolute; left:10px; top:10px\">\n         terug\n      </a>\n      <a href=\"http://192.168.0.201:3000/d/binnen/binnen?orgld=1refresh=5s\" style = \"position:absolute; left:10px; top:200px\">\n         grafana\n      </a>\n      <p style = \"position:absolute; left:500px; top:300px\">{{Binnen0}}</p>\n      <p style = \"position:absolute; left:500px; top:600px\">{{Binnen1}}</p>\n      <p style = \"position:absolute; left:500px; top:900px\">{{Binnen2}}</p>\n  </body>\n</html>","x":720,"y":220,"wires":[["428acfa9.b197e"]]},{"id":"9a4e6d92.ba56a","type":"function","z":"4d83cad0.2aa894","name":"binnen meetwaarden","func":"msg.Binnen0 = global.get(\"Binnen0\");\nmsg.Binnen1 = global.get(\"Binnen1\");\nmsg.Binnen2 = global.get(\"Binnen2\");\nmsg.PVerdiep0 = global.get(\"PVerdiep0\");\nmsg.PVerdiep1 = global.get(\"PVerdiep1\");\nmsg.PVerdiep2 = global.get(\"PVerdiep2\");\n///CO2?\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["11eed905.facd47"]]},{"id":"9b8d6820.bfa518","type":"http in","z":"4d83cad0.2aa894","name":"","url":"/binnen","method":"get","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["9a4e6d92.ba56a"]]},{"id":"70af7ee3.6847a","type":"http response","z":"4d83cad0.2aa894","name":"","statusCode":"","headers":{},"x":930,"y":300,"wires":[]},{"id":"ae8361ca.410c1","type":"function","z":"4d83cad0.2aa894","name":"buiten meetwaarden","func":"msg.Buiten = global.get(\"Buiten\");\nmsg.Zonnepanelen = global.get(\"PZonnepanelen\");\nmsg.Laadpaal1 = global.get(\"PLaadpaal1\");\nmsg.Laadpaal2 = global.get(\"PLaadpaal2\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["be71880e.4a6218"]]},{"id":"ace3b871.c9f878","type":"http in","z":"4d83cad0.2aa894","name":"","url":"/buiten","method":"get","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["ae8361ca.410c1"]]},{"id":"7d6ceefe.9affc","type":"http response","z":"4d83cad0.2aa894","name":"","statusCode":"","headers":{},"x":930,"y":380,"wires":[]},{"id":"519d59d9.f671f8","type":"function","z":"4d83cad0.2aa894","name":"warmtepomp meetwaarden","func":"msg.WaterUiBi = global.get(\"WaterUiBi\");\nmsg.WaterUiBu = global.get(\"WaterUiBu\");\nmsg.WaterBiBi = global.get(\"WaterBiBi\");\nmsg.WaterBiBu = global.get(\"WaterBiBu\");\nmsg.Vermogen = global.get(\"PWarmtepomp\");\n///msg.Boring1D0 = global.get(\"Boring1D0\"); boring 1 Diepte 0m\n///msg.Boring1D25 = global.get(\"Boring1D25\");\n///msg.Boring1D50 = global.get(\"Boring1D50\");\n///msg.Boring1D75 = global.get(\"Boring1D75\");\n///msg.Boring1D100 = global.get(\"Boring1D100\");\n///msg.Boring2D0 = global.get(\"Boring2D0\"); boring 2 Diepte 0m\n///msg.Boring2D25 = global.get(\"Boring2D25\");\n///msg.Boring2D50 = global.get(\"Boring2D50\");\n///msg.Boring2D75 = global.get(\"Boring2D75\");\n///msg.Boring2D100 = global.get(\"Boring2D100\");\n///msg.Boring3D0 = global.get(\"Boring3D0\"); boring 3 Diepte 0m\n///msg.Boring3D25 = global.get(\"Boring3D25\");\n///msg.Boring3D50 = global.get(\"Boring3D50\");\n///msg.Boring3D75 = global.get(\"Boring3D75\");\n///msg.Boring3D100 = global.get(\"Boring3D100\");\n///msg.Boring4D0 = global.get(\"Boring4D0\"); boring 4 Diepte 0m\n///msg.Boring4D25 = global.get(\"Boring4D25\");\n///msg.Boring4D50 = global.get(\"Boring4D50\");\n///msg.Boring4D75 = global.get(\"Boring4D75\");\n///msg.Boring4D100 = global.get(\"Boring4D100\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["42693980.ad7958"]]},{"id":"3ba10155.985bae","type":"http in","z":"4d83cad0.2aa894","name":"","url":"/warmtepomp","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["519d59d9.f671f8"]]},{"id":"95118386.fb0fb","type":"comment","z":"4d83cad0.2aa894","name":"link in nieuw tablad openen voorbeeld","info":"      <a href=\"https://www.w3schools.com/\" target=\"_blank\" style = \"position:absolute; left:500px; top:300px\">\n         {{variabele}}\n      </a>","x":1320,"y":80,"wires":[]},{"id":"be71880e.4a6218","type":"template","z":"4d83cad0.2aa894","name":"buiten HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\na:link, a:visited {\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\np{\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\n</style>\n  <head>\n    <title>buitensensoren</title>\n  </head>\n  <body>\n      <a href=\"http://192.168.0.201:1880/homepage\" style = \"position:absolute; left:10px; top:10px\">\n         terug\n      </a>\n      <a href=\"http://192.168.0.201:3000/d/buiten/buiten?orgld=1&refresh=5s\" style = \"position:absolute; left:10px; top:200px\">\n         grafana\n      </a>\n      <p style = \"position:absolute; left:500px; top:300px\">{{Buiten}}</p>\n      <p style = \"position:absolute; left:500px; top:600px\">{{Zonnepanelen}}</p>\n      <p style = \"position:absolute; left:500px; top:900px\">{{Laadpalen}}</p>\n  </body>\n</html>","x":710,"y":300,"wires":[["70af7ee3.6847a"]]},{"id":"42693980.ad7958","type":"template","z":"4d83cad0.2aa894","name":"warmtepomp HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\na:link, a:visited {\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\np{\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\n</style>\n  <head>\n    <title>warmtepomp sensoren</title>\n  </head>\n  <body>\n      <a href=\"http://192.168.0.201:1880/homepage\" style = \"position:absolute; left:10px; top:10px\">\n         terug\n      </a>\n      <a href=\"http://192.168.0.201:3000/d/warmtepomp/warmtepomp?orgId=1&refresh=5s\" style = \"position:absolute; left:10px; top:200px\">\n         grafana\n      </a>\n      <p style = \"position:absolute; left:500px; top:300px\">{{Vermogen}}</p>\n      <p style = \"position:absolute; left:500px; top:600px\">{{WaterUiBi}}</p>\n      <p style = \"position:absolute; left:500px; top:900px\">{{WaterUiBu}}</p>\n  </body>\n</html>","x":730,"y":380,"wires":[["7d6ceefe.9affc"]]},{"id":"121fe63d.32cbba","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":60,"wires":[["e2c0e259.67ee4"]]},{"id":"a855bc64.3aee3","type":"function","z":"1c77cedf.fa9ea1","name":"PTotaal","func":"PTotaal = msg.vermogenPseconde;\nglobal.set(\"PTotaal\",PTotaal)\nmsg.payload = {\n    PTotaal: parseFloat(PTotaal)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":60,"wires":[["47c7f124.4031f"]]},{"id":"47c7f124.4031f","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":60,"wires":[]},{"id":"9615a2af.ed844","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":120,"wires":[[]]},{"id":"95205e14.53276","type":"function","z":"1c77cedf.fa9ea1","name":"PZonnepanelen","func":"PZonnepanelen = msg.vermogenPseconde;\nglobal.set(\"PZonnepanelen\",PZonnepanelen)\nmsg.payload = {\n    PZonnepanelen: parseFloat(PZonnepanelen)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["418975bd.90611c"]]},{"id":"418975bd.90611c","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":120,"wires":[]},{"id":"52d3030d.a1b2bc","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":180,"wires":[[]]},{"id":"4fece2b1.e2948c","type":"function","z":"1c77cedf.fa9ea1","name":"PLaadpaal1","func":"PLaadpaal1 = msg.vermogenPseconde;\nglobal.set(\"PLaadpaal1\",PLaadpaal1)\nmsg.payload = {\n    PLaadpaal1: parseFloat(PLaadpaal1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":180,"wires":[["796a8ee6.c81d"]]},{"id":"796a8ee6.c81d","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":180,"wires":[]},{"id":"a4476725.ddd8e8","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":240,"wires":[[]]},{"id":"67a54343.219b9c","type":"function","z":"1c77cedf.fa9ea1","name":"PLaadpaal2","func":"PLaadpaal2 = msg.vermogenPseconde;\nglobal.set(\"PLaadpaal2\",PLaadpaal2)\nmsg.payload = {\n    PLaadpaal2: parseFloat(PLaadpaal2)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":240,"wires":[["eee8e7d7.e799f8"]]},{"id":"eee8e7d7.e799f8","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":240,"wires":[]},{"id":"739edff6.32e11","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":300,"wires":[[]]},{"id":"11801f61.fa4551","type":"function","z":"1c77cedf.fa9ea1","name":"PVentilatie","func":"PVentilatie = msg.vermogenPseconde;\nglobal.set(\"PVentilatie\",PVentilatie)\nmsg.payload = {\n    PVentilatie: parseFloat(PVentilatie)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":300,"wires":[["8eff85d3.f8e5d8"]]},{"id":"8eff85d3.f8e5d8","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":300,"wires":[]},{"id":"a30ea82c.c26798","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":360,"wires":[[]]},{"id":"b853be41.84d91","type":"function","z":"1c77cedf.fa9ea1","name":"PVerdiep0","func":"PVerdiep0 = msg.vermogenPseconde;\nglobal.set(\"PVerdiep0\",PVerdiep0)\nmsg.payload = {\n    PVerdiep0: parseFloat(PVerdiep0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":360,"wires":[["178c3a1a.8ab7a6"]]},{"id":"178c3a1a.8ab7a6","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":360,"wires":[]},{"id":"4b0d0fca.5aabe","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":420,"wires":[[]]},{"id":"3e8b0535.3ff4ea","type":"function","z":"1c77cedf.fa9ea1","name":"PVerdiep1","func":"PVerdiep1 = msg.vermogenPseconde;\nglobal.set(\"PVerdiep1\",PVerdiep1)\nmsg.payload = {\n    PVerdiep1: parseFloat(PVerdiep1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":420,"wires":[["fa351856.13f008"]]},{"id":"fa351856.13f008","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":420,"wires":[]},{"id":"c13f192.4f092e8","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":480,"wires":[[]]},{"id":"24807e9f.287f42","type":"function","z":"1c77cedf.fa9ea1","name":"PVerdiep2","func":"PVerdiep2 = msg.vermogenPseconde;\nglobal.set(\"PVerdiep2\",PVerdiep2)\nmsg.payload = {\n    PVerdiep2: parseFloat(PVerdiep2)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":480,"wires":[["6408b64f.165008"]]},{"id":"6408b64f.165008","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":480,"wires":[]},{"id":"9c64e93.9385e18","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":540,"wires":[[]]},{"id":"d7b02e8f.be27a","type":"function","z":"1c77cedf.fa9ea1","name":"PBoiler","func":"PBoiler = msg.vermogenPseconde;\nglobal.set(\"PBoiler\",PBoiler)\nmsg.payload = {\n    PBoiler: parseFloat(PBoiler)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":540,"wires":[["c6e3c85.b97f638"]]},{"id":"c6e3c85.b97f638","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":540,"wires":[]},{"id":"91cedc94.8f78","type":"rpi-gpio in","z":"1c77cedf.fa9ea1","name":"","pin":"38","intype":"down","debounce":"25","read":false,"x":280,"y":600,"wires":[[]]},{"id":"554b8158.27ab","type":"function","z":"1c77cedf.fa9ea1","name":"PWarmtepomp","func":"PWarmtepomp = msg.vermogenPseconde;\nglobal.set(\"PWarmtepomp\",PWarmtepomp)\nmsg.payload = {\n    PWarmtepomp: parseFloat(PWarmtepomp)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":600,"wires":[["2c8b5e2e.caac02"]]},{"id":"2c8b5e2e.caac02","type":"influxdb out","z":"1c77cedf.fa9ea1","influxdb":"7abaa287.8da83c","name":"Vermogen","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1060,"y":600,"wires":[]},{"id":"de4ab1b3.a4d41","type":"inject","z":"21335aaa.0329c6","name":"","props":[],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["d879d0bf.04e37"]]},{"id":"e2c0e259.67ee4","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":60,"wires":[["d2268972.cc4358"],[]]},{"id":"d2268972.cc4358","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"if (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/(msg.tijd/1000),\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":60,"wires":[["a855bc64.3aee3"]]},{"id":"f92b5e1.27ceea","type":"comment","z":"1c77cedf.fa9ea1","name":"toevoegingen","info":"bij toevoegingen moet enkel bovenstaand rij en de pin aangepast worden naar de nieuwe meter. de andere functieblok regelt de omzetting van puls naar vermogen/seconde en blijft dus hetzelfde tenzijn 1 puls niet gelijk is aan 100Watt","x":890,"y":660,"wires":[]},{"id":"dde0c6c9.1456b8","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":120,"wires":[["a89588a3.1a3d68"],[]]},{"id":"a89588a3.1a3d68","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":120,"wires":[["95205e14.53276"]]},{"id":"8b7189fc.7e8878","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":180,"wires":[["6d6164b.5d3769c"],[]]},{"id":"6d6164b.5d3769c","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[["4fece2b1.e2948c"]]},{"id":"a78006b0.77b9c8","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["b853be41.84d91"]]},{"id":"e6ff94cd.9f18b8","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":360,"wires":[["a78006b0.77b9c8"],[]]},{"id":"6e086e5f.81b0d","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["11801f61.fa4551"]]},{"id":"348ddf79.c0353","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":240,"wires":[["67a54343.219b9c"]]},{"id":"305ec0d6.865ab","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":240,"wires":[["348ddf79.c0353"],[]]},{"id":"6d404ad3.b96de4","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":300,"wires":[["6e086e5f.81b0d"],[]]},{"id":"38f2c2cc.9fd9ee","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["d7b02e8f.be27a"]]},{"id":"4debf831.64c9f8","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":540,"wires":[["38f2c2cc.9fd9ee"],[]]},{"id":"5791ae1.babbe5","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["24807e9f.287f42"]]},{"id":"9ef083ad.2599e","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["3e8b0535.3ff4ea"]]},{"id":"c4d830be.deeff","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":420,"wires":[["9ef083ad.2599e"],[]]},{"id":"3b3a34c2.ea1bac","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":480,"wires":[["5791ae1.babbe5"],[]]},{"id":"6ea5d323.20ab6c","type":"function","z":"1c77cedf.fa9ea1","name":"vermogenPseconde","func":"context.set(\"tijd\",msg.tijd/1000);\ntijd=context.get('tijd')||0;\nif (msg.payload===1){ \n    msg.vermogenPseconde = {\n        vermogenPseconde : 100/tijd,\n    }\n    return msg.vermogenPseconde;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":600,"wires":[["554b8158.27ab"]]},{"id":"4b18783d.c45198","type":"interval-length","z":"1c77cedf.fa9ea1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"tijd","timestampField":"timestamp","repeatTimeout":false,"name":"","x":460,"y":600,"wires":[["6ea5d323.20ab6c"],[]]},{"id":"d879d0bf.04e37","type":"http request","z":"21335aaa.0329c6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.201/api/temp","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":40,"wires":[["8e5ff81a.569b28"]]},{"id":"5a237748.92f5e8","type":"function","z":"21335aaa.0329c6","name":"msg.sensoren","func":"msg.sensoren = {\n    sensor1 : msg.payload[0],\n    sensor2 : msg.payload[1],\n///    sensor3 : msg.payload[2],\n///    sensor4 : msg.payload[3],\n///    sensor5 : msg.payload[4],\n///    sensor6 : msg.payload[5],\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":40,"wires":[["e148fd0f.76dc4"]]},{"id":"8e5ff81a.569b28","type":"json","z":"21335aaa.0329c6","name":"","property":"payload","action":"","pretty":false,"x":430,"y":40,"wires":[["5a237748.92f5e8"]]},{"id":"e148fd0f.76dc4","type":"function","z":"21335aaa.0329c6","name":"gegevens globaal zetten","func":"global.set(\"sensor1\", msg.sensoren.sensor1);\nglobal.set(\"sensor2\", msg.sensoren.sensor2);\nglobal.set(\"sensor3\", msg.sensoren.sensor3);\nglobal.set(\"sensor4\", msg.sensoren.sensor4);\nglobal.set(\"sensor5\", msg.sensoren.sensor5);\nglobal.set(\"sensor6\", msg.sensoren.sensor6);\nmsg.payload = {\n    sensor1 : msg.sensoren.sensor1,\n    sensor2 : msg.sensoren.sensor2,\n///    sensor3 : msg.sensoren.sensor3,\n///    sensor4 : msg.sensoren.sensor4,\n///    sensor5 : msg.sensoren.sensor5,\n///    sensor6 : msg.sensoren.sensor6,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":40,"wires":[["1d5555f7.f115aa"]]},{"id":"1d5555f7.f115aa","type":"influxdb out","z":"21335aaa.0329c6","influxdb":"d5a36785.8a6088","name":"opstelling","measurement":"statistics","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1020,"y":40,"wires":[]},{"id":"ef690e66.04867","type":"http response","z":"4d83cad0.2aa894","name":"","statusCode":"","headers":{},"x":930,"y":460,"wires":[]},{"id":"1edfc45b.8a416c","type":"template","z":"4d83cad0.2aa894","name":"opstelling HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\na:link, a:visited {\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\np{\n  color: black;\n  text-decoration: none;\n  display: inline-block;\n  border:3px;\n  border-style:solid;\n  border-color:#000000;\n  border-radius: 15px;\n  width: 50px;\n  height: 50px;\n  padding: 1em;\n  font-size: 30px;\n}\n</style>\n  <head>\n    <title>warmtepomp sensoren</title>\n  </head>\n  <body>\n      <a href=\"http://192.168.0.201:1880/homepage\" style = \"position:absolute; left:10px; top:10px\">\n      terug\n      <a style = \"position:absolute; left:10px; top:200px\" href=\"http://192.168.0.201:3000/d/warmtepomp/warmtepomp?orgId=1&refresh=5s\">\n      <img alt=\"grafana logo\" style = \"position:absolute; left:5px; top:5px\" src=\"http://192.168.0.201:3000/public/img/grafana_icon.svg\" width=\"100\" height=\"100\">\n      </a>\n      <p style = \"position:absolute; left:200px; top:-15px\">{{sensor1}}</p>\n      <p style = \"position:absolute; left:200px; top:175px\">{{sensor2}}</p>\n      <p style = \"position:absolute; left:500px; top:900px\">{{WaterUiBu}}</p>\n  </body>\n</html>","x":720,"y":460,"wires":[["ef690e66.04867"]]},{"id":"1f2155de.10ad1a","type":"function","z":"4d83cad0.2aa894","name":"binnen meetwaarden","func":"msg.sensor1 = global.get(\"sensor1\");\nmsg.sensor2 = global.get(\"sensor2\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["1edfc45b.8a416c"]]},{"id":"d21193a8.0bf42","type":"http in","z":"4d83cad0.2aa894","name":"","url":"/opstelling","method":"get","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["1f2155de.10ad1a"]]}]